@import 'vars';
@import 'global';
@import 'fonts';

// start header
  .header__top{
    background-color: #eef1f3;
  
  }
.header__top-inner{
  height: 100px;
  justify-content: space-around;
  display: flex;
    align-items: center;
  }
 
.header__btn{

display: flex;

align-items: center;
  padding: 12px 18px;
  margin: 0;


a{
  display: block;
    border-radius: 30px;
   padding: 6px 18px;
  

  height: 36px;
background-color: rgb(6, 116, 236);
&:hover{
  background-color: #fff;
color: #0674ec;
}
}



  a{
font-size: 14px;



 font-family: 'Quicksand', sans-serif;
  font-weight: 400;
   color: #fff;
   
   
  }
  
 

}






.header__icons{
display: flex;
margin-right: 33px;
align-items: center;
 
li{
  
  padding-left: 33px;
  
}
  li+li{
  padding-left: 33px;
  }
 

}
.lock{
  display: flex;
}
.header__avatar{
 display: flex;
}
.user{
 
  width: 50px;
  height: 50px;
  display: flex;
}
.header__avatar-title{
  margin-left: 22px;
  a{
    display: block;
  }
  span{
    display: block;
    padding-bottom: 10px;
  }
}








.header__menu{
  background-color:#fff;
 
  
}
.header__menu__inner{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.menu{
  height: 80px;
  display: flex;
  align-items: center;
  
}
.menu__list{
  
  li{
    display: inline-block;
    & +li{
      margin-left: 35px;
    }
  }
  a{
    color:#333333;
    font-size: 14px;
  }
}
.search{
  position: relative;
  form{
    
    
  input{
   
    display: block;
    margin-top: 17px;
    border: 1px solid #d9dfe5;
    width: 358px;
    height: 44px;
    border-radius: 50px;
    padding: 15px 25px;
     padding-right: 90px;
 &:focus { outline: none; }
    
  }
  }
}
  // wordpress-search
.wordpress-search__content{
  
  background: linear-gradient( 180deg, rgb(13,62,242) 0%, rgb(45,47,199) 46%, rgb(76,31,156) 100%);
  text-align: center;
 

.wordpress-search__title{
  padding-top: 89px;
  padding-bottom: 34px;
  font-size: 24px;
  line-height: 70px;
  color: #fff;
  
}



form{
 position: relative;
  input{
    background-color: rgb(255, 255, 255);
     width: 555px;
  height: 55px;
  border-radius: 30px;
   padding-left: 29px;
  
    padding-right: 99px;
    
  }
  button{
 width: 110px;
  height: 55px;
   background-color: rgb(6, 116, 236);
  
  border-radius: 30px;
  color: #fff;
    position: absolute;
   top: 0;
   left: 60%;
 
   
   
   


  }
}

 
 




}

.wordpress-search__bread-crumb, .bread-crumb{
  &-list{
    a{
      color: #f3f3f8;

    }
    li{
      display: inline-block;
      position: relative;
      padding-bottom: 31px;
      padding-top: 37px;
    
   
      & + li{
        padding-left: 24px; 
           &::before{
          content: '/';
         position: absolute;
          left: 8px;
          color: #f3f3f8;
      }
      }
      &:last-child{
        a{
          color: #fff;
          font-weight: 700;
        }
      }
      
    }
  }
}

    
  
    



// wordpress-search end
// menu-products
.menu-products__inner{
  display: flex;
  justify-content: space-between;
  
  
}
.menu-products__bread-crumb{
  
  &-list{
    a{
      color: #171744;

    }
    li{
      display: inline-block;
      position: relative;
      padding-bottom: 31px;
      padding-top: 37px;
    
   
      & + li{
        padding-left: 24px; 
     
      }
      &:last-child{
        a{
          color: #0674ec;
          font-weight: 700;
        }
      }
      
    }
  }
  }


.menu-products__category{
  display: flex;
  align-items: center;
  .menu-products__category__price{
  padding-top: 7px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
      border: 1px ;
    padding: 14px 20px;
  
  border-width: 1px;
  border-color: rgb(236, 239, 242);
  border-style: solid;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 33px;
  padding-left: 14px;
  width: 220px;
  position: relative;
 &::after{
   content: "\f107";
   font-family: 'icomoon';
   position: absolute;
    right: 19px;
 }



  }
  .menu-products__category__page{
      padding-top: 7px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
      border: 1px ;
    padding: 14px 20px;
  
  border-width: 1px;
  border-color: rgb(236, 239, 242);
  border-style: solid;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 33px;
  padding-left: 14px;
  width: 220px;
  position: relative;
 &::after{
   content: "\f107";
   font-family: 'icomoon';
   position: absolute;
    right: 19px;
 }
  }
  .menu-products__category__icon{
   padding: 11px 20px;
    border-color: rgb(236, 239, 242);
     box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
 
  border-width: 1px;
  border-color: rgb(236, 239, 242);
  border-style: solid;
  border-radius: 3px;
   

  }
  
  
}
.product-page__inner{
  display: flex;
  
  ;
.product-page__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

}



// menu-products end


// product-page
.product-page{
  background-color: #eff1f5;
  padding-top: 83px;
}


  .aside__item{
      background-color: #eff1f5;
    border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
   width: 263px;
  height: 371px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
.aside__title{
  font-size: 20px;
  color: #000;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7ebee;}
.category__list{
 padding-top: 10px;
  li{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    &::before{
       content: '\f105'; 
     color:$green;
     position: absolute;
     left: 0;
     font-size: 18px;
      font-family: 'icomoon';
    }
  }
  a{
   color:$bg;
  }
   span{
      color: #98a4ae;
      margin-left: 10px;
    }
}
 

 
}
.menu-products__category__icon{
  button{
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    outline: none;
    &.active{
      color:$green;
    }
  }
}

  







// product-page end

  
  .icon{
    position: absolute;
    background-color: rgb(6, 116, 236);
    width: 70px;
    height: 46px;
    border-radius: 30px;
    top: 16px;
    right: 0;
    

    
    img{
      padding-top: 12px;
          }
        }



  .digital{
    position: relative;
    background-color: #2145ca;
   
  }
  .digital__products{
 
    text-align: center;

  }

  .digital__title{
    color: #f3f3f8;
    padding-top: 104px;
    font-size: 60px;
    line-height: 70px;
  
  }
  .digital__title-product{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #f3f3f8;
    span{
      display: block;
      font-size: 20px;
    }
  }
  .digital__products-btn{
    position: relative;
    padding-bottom: 234px;
  
    a{
      padding: 20px 32px 20px 32px;
      border: solid 1px #fff;
      border-radius: 40px;
      width: 192px;
      color: #fff;
      margin-left: 28px;
        &:hover{
     background-color: #fff;
     color: #1f43c8;
    }
    
    }
    }

    .swarch-now{
      position: absolute;
      background-color: #fff;
      padding: 40px;
      width: 1130px;
      display: flex;
      
      border-radius: 6px;
      text-align: center;
      
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
     
   top: 552px;
   left: 288px;
   &:before{
    content: "";
    border-radius: 6px;
  background-color: rgb(255, 255, 255);
  opacity: 0.502;
  position: absolute;
  top: -13px;
  width: 1100px;
  height: 135px;
  right: 15px;

  
   }
   
   &:after{
    content: "";
    border-radius: 6px;
  background-color: rgb(255, 255, 255);
  opacity: 0.502;
  position: absolute;
  top: -26px;
  width: 1070px;
  height: 135px;
  right: 30px;
  z-index: 2;
  
   
  }
 
 
  

   
    
      
      form{
        display: flex;
        
        z-index: 3;
        
        
        input{
          width: 610px;
          height: 55px;
          border: 1px solid #d9dfe5;
          border-right: none;
          padding-left: 30px;
          padding-right: 40px;
           &:focus { outline: none; }
       
        
         
         
        }
      }
    }
    .swarch-now__categories{
      position: relative;
      padding-top: 14px;
      width: 195px;
      height: 55px;
      background-color: #fff;
      border: 1px solid #d9dfe5;
      position: relative;
      z-index: 3;
    

      


















































      
      img{
        position: absolute;
        top: 0;
        right: 40px;
        top: 24px;
      }
    }
    .search-now-btn{
    padding-top: 15px;
      text-align: center;
     display: block;
      color: #fff;
      
      background-color: #0674ec;
      border-radius: 4px;
      z-index: 3;
      width: 223px;
      height: 55px;
      position: absolute;
    right: 30px;
      

      
      
      a{
        font-size: 16px;
        
      }
    
    }


    .weekly{
      background-color: #eff1f5;
      padding-top: 122px;
      .weekly__fast{
       
        font-size: 30px;
        border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  width: 1140px;
  height: 110px;
  margin-bottom: 50px;
   position: relative;
  

button{
    background-color:#7347c1;
    width: 111px;
    height: 45px;
    border-radius: 20px;
    position: absolute;
    right: 31px;
    top: 32px;
     &:focus { outline: none; }
}




  p{
    padding: 40px 30px;
   
  }
  
      }
         .weekly__inner-container{
        display: flex;
        justify-content: start;
        align-items: center;
        
      }
     
      .weekly__inner-graund{
        background-image: url(../images/content/bg.jpg);
                 width: 555px;
         height: 450px;
        }
     
  
  .template{
background-color: #ffffff;
padding-left: 50px;
max-width: 588px;
min-height: 450px;
.template__title{
  padding-top: 47px;
  font-size: 24px;
  padding-bottom: 23px;}
  
.template__user{
  display: flex;
  justify-content: start;
  align-items: center;
    font-size: 16px;
    color: #000;
    padding-bottom: 43px;
  .template__user-ava{
  padding-left: 38px;
  padding-right: 10px;
  position: relative;
  padding-right: 45px;
    &:before{
      content: "";
      background-color: #fff;
      border-radius: 50%;
  background-color: rgb(115, 71, 193);
    position: absolute;
      width: 30px;
  height: 30px;
right: 120px;
top: -2px;
    }


}
.template__user-category{
  color: #555555;
  position: relative;
    &:before{
      content: "";
     background-image: url(../images/icons/forma.png);
      
 
    position: absolute;
      width: 15px;
  height: 15px;
left: -20px;
top: 4px;


    }
}
  }
  .template__text{
    font-size: 16px;
    padding-right: 63px;
    padding-bottom: 41px;
  }
  .template__plugin{
   
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 41px;
     
         ul{
           display: flex;
           li{
             padding-right: 20px;
             
          
            
             
             
            
               a{
          padding: 4px 17px;
    background-color: #f1f3f6;
           border-radius: 20px;  
          color: #868c96;
          &:hover{
            background-color: #0674ec;
            color: #fff;
          }
                 
   

        
        }
           }
         }
     
      
      
      }
      .template__item{
        padding-top: 21px;
        border-top: 1px solid #ccc;
        margin-right: 52px;
        padding-bottom: 19px;
        display: flex;
        justify-content: space-between;
        .template__item-list{
          display: flex;
          li{
            padding-right: 44px;
          }
            .template__cena{
              
              a{
                padding: 8px 18px;
                background-color: #0674ec;
                border-radius: 20px;
                color:#fff;
                 &:focus { outline: none; }

                
              }
            
            
          }
        }
        .template__like{
          position: relative;
        padding-top: 9px;
        &:before{
           content: "";
     background-image: url(../images/icons/heart.png);
      
 
    position: absolute;
      width: 15px;
  height: 14px;
left: -20px;
top: 13px;



        }
        }
        .template__korzina{
          position: relative;
          color: #0674ec;
          padding-top: 9px;
                &:before{
           content: "";
     background-image: url(../images/icons/carеt.png);
      
 
    position: absolute;
      width: 15px;
  height: 14px;
left: -20px;
top: 13px;
        }
      }


      }
      
    }
  }
  
.slick-arrow{
		width: 8px;
    height: 16px;
     
     
     
     position: absolute;
      &:focus { outline: none; }

   
  
	}
	.slick-arrow::before{
    display: none;
    border: none;
  
    
	}
	.slick-arrow:hover,.slick-arrow:focus{
    border: none;
  
    
	}
	.slick-next__weekly{
     position: absolute;
    background-image: url(../images/icons/chevron-right.png);
    background-color:#7347c1;
    background-repeat: no-repeat;
    border: none;
    right: 74px;

    
    top: -113px;
   
  }
  .slick-prev__weekly{
     position: absolute;
    background-image: url(../images/icons/chevron-left.png);
    background-color:#7347c1;
    background-repeat: no-repeat;
    border: none;
    right:133px;

    
    top: -113px;
    
   
  }

.rate-star{
margin: 0;
padding-left: 15px;
}




	


  








































    .function__inner{
      
      margin-top: 120px;
      display: flex;
      justify-content: center;
     background-color: #fdfdfd;
     
     
  
    
    }
    .content{
      max-width: 360px;
      text-align: center;
      &:hover{
         box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      }
      
    }
    .content__title{
      padding-top: 40px;
    }
    .content__text{
      padding: 28px 34px 50px;
    }
    
   .function__inner-fully{
    border-radius: 4px;
    
   
 
   }
      .content__img{
      padding-top: 40px;
    }

   .cart{
     background-color: #f6f7fb;
    padding-top: 120px;
   }
   .cart__newest{
     display: flex;
     justify-content: space-between;
     align-items: center;
       background-color: #fff;
       
       padding: 43px 35px;
       p{
         margin: 0;
         font-size: 30px;
       }
     a{
       position: relative;
       padding-right: 60px;
       &:before{
         content: "";
         position: absolute;
         width: 5px;
         height: 20px;
      right: 40px;
      
         background-image: url(../images/icons/icon.png);
         background-repeat: no-repeat;
         
       }
     }
   }

.products__inner-btn{
  margin-top: 30px;
 
  background-color: #fff;
 padding: 30px 31px;
 
  button{
    padding: 5px 18px;
    border: none;
    background-color: #f1f3f6;
    border-radius: 40px;
    height: 32px;
    align-items: center;
    
    cursor: pointer;
     &:focus { outline: none; }
    button::hover{
      background-color: #0674ec;
      
    }
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      background-color:$red;
      color:#fff;

    }
  }

}


  
  

.cart__item{

  background-color: #fff;
  max-width: 360px;
  margin-top: 31px;
  .cart__item + .cart__item{
    margin-left: 20px;
  }
}

 
  .cart__item-contant{
    padding-left: 30px;
    padding-right: 40px;
  }

  .cart__photo {
    position: relative;
    width: 360px;
    height: 230px;
    background-color: #009688;
    
    &:hover{
      opacity: 0.902;
 background-image: url(../images/gradient.jpg);
 
  opacity: 0.902; 
  background-image: -moz-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
   .cart__photo-btn{
   
      position: absolute;
        right: 30px;
        top: 90px;
       display: flex;
       mix-blend-mode:screen;
      
       
     
      a{
        padding: 17px 30px;
        margin-right: 10px;
        border-radius: 30px;
        border: 1px solid #fff;
        
        mix-blend-mode:screen;
         &:hover{
         background-color: #fff;
       }

      }

      }
    }
    
    
  }


  
  .cart__item-title{
    padding-top: 30px;
    padding-bottom: 28px;
    font-size: 20px;
    color: #000;

  }
  .cart__item-info{
    padding-bottom: 43px;
    display: flex;
    justify-content: start;
    align-items: center;
    .info-plugin{
      font-size: 15px;
      color: #7347c1;
      padding-left: 45px;
      position: relative;
      &:before{
         content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url(../images/icons/forma.png);
        left: 20px;
        top: 3px;
        border-radius: 15px;
      }
    }
    .info__ava{
      padding-left: 31px;
      position: relative;
      
      &:before{
        content: "";
        width: 28px;
        height: 28px;
       background-color: #7347c1;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        position: absolute;
        left: 0;
        border-radius: 15px;


      }
    }
  }
  .cart__item-text {
    padding-bottom: 30px;
  }


.cart__item-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;

 .block-icon__likeandk{
   display: flex;
   justify-content: space-around;
   align-items: center;
   
   .block-icon__likeandk-cena{
     
    background-color: #e6f1fd;
    border-radius: 20px;
    

    a{
padding: 3px 16px;
    }
   }
 }
 .block-icon__likeandk-like{
   padding-left: 35px;
   position: relative;
   margin-right: 10px;

   &:before{
     content: "";
     background-image: url(../images/icons/heart.png);
     background-repeat: no-repeat;
     width: 16px;
     height: 14px;
        position: absolute;
        left: 15px;
        top: 5px;
   }
 }
}
.cart__basket{
  padding-left: 80px;
  position: relative;
  &:before{
         content: "";
     background-image: url(../images/icons/carеt.png);
     background-repeat: no-repeat;
     width: 16px;
     height: 14px;
        position: absolute;
        right: 33px;
        top: 4px;
  }
}
.cart__photo-btn{
   display: none;
    }
    



.cart__inner {
  padding-top: 20px;
flex-wrap: wrap;

  display: flex;
  justify-content: space-between;
  

}
.cart__bottom-btn{
  padding-top: 60px;
 margin: 0 auto;
 padding-bottom: 120px;
  button{
    border-radius:30px ;
 padding: 22px 33px;
 background-color: #0674ec;
 color: #fff;
 cursor: pointer;
  &:focus { outline: none; }

  
  }
 
}
.followers{
  background-color: #eff1f5;

  .followers__inner{
    padding-top: 120px;
  }
  .followers__slider{
    
    background-color: #fff;
    padding: 24px 30px;
    font-size: 30px;
    color: #000;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
       position: relative;
    
  }
  .followers__slider-btn{
    background-color:blue;
    width: 111px;
    height: 45px;
    border-radius: 20px;
  
    
    
  }
}

.black-line__inner{
  background-color: #000;
}

.black-line__icon{
  color: #fff;
  font-size: 18px;
  .icon-contant{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
  img{
    
    padding-top: 50px;
    padding-bottom: 50px;
   
  }
  li{
    padding: 95px;
  }
  span{
    font-size: 34px;
     display: block;
     padding-bottom: 35px;
     
  }
  .span-items{
    color: #feb71d;
  }
  .span-happy{
    color: #58c9e9;
  }
  .span-happy{
    color: #77de51;
  }
  .span-members{
    color: #ff6a6d;
  }
  }
}
.slick-arrow{
		width: 8px;
    height: 16px;
     
     
     
     position: absolute;

   
  
	}
	.slick-arrow::before{
    display: none;
    border: none;
  
    
	}
	.slick-arrow:hover,.slick-arrow:focus{
    border: none;
  
    
	}
	.slick-next{
     position: absolute;
    background-image: url(../images/icons/chevron-right.png);
    background-color: blue;
    background-repeat: no-repeat;
    border: none;
    right: 56px;

    
    top: -54px;
   
  }
  .slick-prev{
     position: absolute;
    background-image: url(../images/icons/chevron-left.png);
    background-color: blue;
    background-repeat: no-repeat;
    border: none;
    right:102px;

    
    top: -54px;
    
   
  }


  .slider__follow{
    padding-bottom: 120px;
  }
.martplace{
  background-color: #fff;
}
.martplace__text{
  max-width: 690px;
  padding-top: 120px;
margin: 0 auto;
padding-bottom: 65px;

.martplace__text-title{
  font-size: 36px;
 color: #000;
 text-align: center;

span{
  color: #0674ec;
}

}
.martplace__text-contant{
  
  font-size: 16px;
  padding-top: 29px;
  color: rgb(85, 85, 85);
    line-height: 1.875;
   text-align: center;
     
}
}
.martplace__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  p{
    color: rgba(92, 135, 248, 0.2);
  line-height: 0.15;
  font-size: 48px;
  text-align: left;
  padding-left: 20px;
 
  }
  
  .martplace__item{
     background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
 
    max-width: 360px;
    text-align: center;
    .martplace__item-title{
      font-size: 24px;
      color: #000;
      padding-top: 50px;
      padding-bottom: 45px;
    }

    .martplace__item-text{
      padding-left: 37px;
      padding-right: 35px;
      font-size: 16px;
      color: #555;
      padding-bottom: 60px;
        line-height: 1.875;
    }
  }
}
.shopping-today__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x:hidden;
  color: #fff;
   .shopping-today__item-title{
    font-size: 36px;
    line-height: 30px;
    padding-bottom: 27px;
   }
   .shopping-today__item-text{
     font-size: 16px;
     padding-bottom: 80px;
     position: relative;
     
   }
   a {
     color: #0674ec;
     padding: 22px 27px;
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
     position: absolute;
     border-radius: 40px;
     transform: translate(-50%, -50%)
     
     
     
    
    
   }

  
.shopping__sell{
  width: 962px;
  height: 539px;
  position: relative;
  text-align: center;
  img{
    display: block;
    padding-top: 96px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  
 

  
  &:before{
    content:"";
    background-image: url(../images/content/gb.png);
    display: block;
   width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
    
   
    
  }

}
.shopping-1{
  
 background-image: url(../images/gg.png);
}
.shopping-today__item-text{
padding-left: 191px;
padding-right: 191px;
  text-align: center;
}
}
.shoppin-2{
  
  background-image: url(../images/fio.png);
}
.shopping__start{
  width: 962px;
  height: 539px;
  position: relative;
  text-align: center;
  color: #fff;
  img{
    display: block;
    padding-top: 96px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
 
  &:before{
    content:"";
    
    background-image: url(../images/content/df.png);
    display: block;
   width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
    
   
    
  }

}



.feedback__inner-contant{
  text-align: center;
  font-size: 36px;
  color: #000;
  padding-top: 105px;

  
  
  span{
    color:#0674ec;
  }
  p{
    margin: 0 auto;
    max-width: 690px;
    font-size: 16px;
    padding-top: 35px;
    color: #555555;
    padding-bottom: 60px;
  }
  
}
.feedback__inner-block{
  display: flex;
  justify-content: center;
  align-items: center;
  
 
  .feedback__item{
   border-left: solid 2px #0674ec;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
 
      margin-right: 30px;
      .feedback-user{
        padding-left: 136px;
        position: relative;
        padding-bottom: 50px;
    .feedback-user__title{
      padding-top: 67px;
      font-size: 20px;
      color: #000;
     
      &:before{
        content:"";
        background-color: #808080;
        border-radius: 50%;
        width: 81px;
        height: 81px;
        position: absolute; 
        left: 30px;
        top: 51px;
      }
      &:after{
        content:"";
        top: 56px;
        right: 42px;
        background-image: url(../images/bubble.png);
        width: 57px;
        height: 51px;
        position: absolute; 
        
      }

      span{
        font-size: 16px;
        color: #555;
        display: block;
      }
     
    }
  }
  .feedback__item-text{
    padding-left: 29px;
    padding-right: 43px;
    padding-bottom: 50px;
  }
  }

}
.feedback__inner-btn{
  text-align: center;
  padding-top: 65px;
  padding-bottom: 120px;
  a{
  padding: 22px 35px;
  background-color:#0674ec ;
  color: #fff;
  border-radius: 50px;
  margin: 0 auto;
  }
  
}









.news__inner{
  padding-bottom: 120px;
}
.news{
  background-color: #eff1f5;
}

.news__item{

  background-color: #fff;
  max-width: 360px;
  margin-top: 31px;
  .news__item-contant{
    padding-left: 30px;
    padding-right: 40px;
  }

  .news__photo {
    position: relative;
    width: 360px;
    height: 230px;
    background-color: #009688;
    

   .news__photo-btn{
   
      position: absolute;
        right: 30px;
        top: 90px;
       display: flex;
       mix-blend-mode:screen;
      
       
     
      a{
        padding: 17px 30px;
        margin-right: 10px;
        border-radius: 30px;
        border: 1px solid #fff;
        
        mix-blend-mode:screen;
         &:hover{
         background-color: #fff;
       }

      }

      }
    }
    
    
  }


  
  .news__item-title{
    padding-top: 30px;
    padding-bottom: 28px;
    font-size: 20px;
    color: #000;

  }
  .news__item-info{
    padding-bottom: 43px;
    display: flex;
    justify-content: start;
    align-items: center;
    .news-plugin{
      font-size: 15px;
      color: #7347c1;
      padding-left: 45px;
      position: relative;
      &:before{
         content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url(../images/icons/forma.png);
        left: 20px;
        top: 3px;
        border-radius: 15px;
      }
    }
    .news__ava{
      padding-left: 31px;
      position: relative;
      
      &:before{
        content: "";
        width: 28px;
        height: 28px;
       background-color: #7347c1;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        position: absolute;
        left: 0;
        border-radius: 15px;


      }
    }
  }
  .news__item-text {
    padding-bottom: 30px;
  }


.news__item-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;

 .news-icon__likeandk{
     display: flex;
    justify-content: space-between;
    align-items: center;
   .news-icon__likeandk-cena{
     
    background-color: #e6f1fd;
    border-radius: 20px;

    a{
padding: 3px 16px;
    }
   }
 }
 .news-icon__likeandk-like{
   padding-left: 35px;
   position: relative;

   &:before{
     content: "";
     background-image: url(../images/icons/heart.png);
     background-repeat: no-repeat;
     width: 16px;
     height: 14px;
        position: absolute;
        left: 15px;
        top: 5px;
   }
 }
}
.news__basket{
  padding-left: 90px;
  position: relative;
  &:before{
         content: "";
     background-image: url(../images/icons/carеt.png);
     background-repeat: no-repeat;
     width: 16px;
     height: 14px;
        position: absolute;
        right: 33px;
        top: 4px;
  }
}
.news__photo-btn{
   display: none;
    }
    



.news__inner {
  padding-top: 20px;
flex-wrap: wrap;

  display: flex;
  justify-content: space-between;
  

}

.support__inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .support__inner-item{
    font-size: 24px;
    padding-bottom: 61px;
    img{
      padding-top: 61px;
      display: block;
      margin: 0 auto;
      padding-bottom: 30px;
    }
   
  }
  .days-item{
    span{
      color:#0674ec;

    }
  }
  .fast-item{
    span{
     
        color:#7347c1;
  
      }

    }
  }
.marketplace{
  background-color: #000;

  background: linear-gradient( -90deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
   
 
  opacity: 0.902;


  
  .marketplace__inner{
    padding-top: 111px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding-bottom: 110px;
    position: relative;
 
    span{
      display: block;
      padding-top: 29px;
      font-size: 18px;
      padding-bottom: 50px;
    }
    a{
      font-size: 16px;
      color: #0674ec;
      padding: 21px 46px;
      background-color: #fff;
      border-radius: 35px;
      
    }
  }
}


.footer{
  background-color: #262b30;
  .footer__inner{
    color: #ababab;
  display: flex;
  justify-content: space-around;
 
  font-size: 15px;
  
  
   .phone{
     max-width: 280px;
     padding-top: 86px;
     line-height: 32px;
     
     .list__phone{
      position: relative;
       &:before{
         content: "";
         width: 30px;
         height: 30px;
         position: absolute;
         background-repeat: no-repeat;
        
         left: -30px;
         background-image: url(../images/footer/phone-handset.png);
       }
      }
       .list__support{
         position: relative;
        &:before{
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          background-repeat: no-repeat;
          top: 10px;
          left: -30px;
          background-image: url(../images/footer/envelope.png);
        }
       }
       .list__new{
         position: relative;
         &:before{
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          background-repeat: no-repeat;
          top: 20px;
          left: -30px;
          background-image: url(../images/footer/map-marker.png);
        }
       }
     
    p{
      margin: 0;
      line-height: 28px;
      padding-bottom: 32px;
    }
     img{
       display: block;
       align-items: center;
       padding-bottom: 34px;
     }
     .list__new{
  padding-bottom: 125px;
}

  }
  .company{
    padding-top: 104px;
    font-size: 15px;
    line-height: 32px;
    a{
      color: #ababab;
       cursor: pointer;
    }
   
    
    p{
      padding-bottom: 34px;
      margin: 0;
      color: #fff;
    }
  }
  .help{
    line-height: 32px;
    padding-top: 104px;
    font-size: 15px;
    a{
       color: #ababab;
       cursor: pointer;
    }
    p{
      padding-bottom: 34px;
      margin: 0;
      color: #fff;
    }
  }
  .newsletter{
    max-width: 380px;
    font-size: 15px;
    padding-top: 104px;
    p{
      line-height: 28px;
    }
    form{
      position: relative;
    }
    input{
      width: 360px;
      height: 50px;
      background-color: rgb(255, 255, 255);
      border-radius: 40px;
      padding-left: 20px;
      padding-right: 120px;
      &:focus { outline: none; }
     
    }

  
    
    button{
      width: 110px;
      height: 50px;
      position: absolute;
      background-color: rgb(6, 116, 236);
      right: 20px;
      border-radius: 40px;
     
       &:focus { outline: none; }
      
    }
    .newsletter__title{
      font-size: 18px;
      color: #fff;
      margin: 0;
      
    }
    .newsletter__text{
      padding-bottom: 28px;
    }
    li{
      padding-top: 48px;
    display: inline-block;
    padding-right: 12px;
    }
    li+li{
      padding-right: 12px;
    }
  }
  
}

.footer__bottom{
  font-size: 15px;
  color: #999999;
  background-color: #192027;
 padding-top: 40px;
 padding-bottom: 40px;
 text-align: center;
 span{
   color: #fff;
 }
}



}