@import 'vars';
@import 'global';
@import 'fonts';

// start header
  .header__top{
    background-color: #eef1f3;
  
  }
.header__top-inner{
  height: 100px;
  justify-content: space-around;
  display: flex;
   
   
    align-items: center;
  }
 
.header__btn{


border-radius: 40px;
background-color: rgb(6, 116, 236);
width: 176px;
padding: 12px 18px;
text-align: center;
font-size: 14px;
 color: #fff;
 font-family: 'Quicksand', sans-serif;
  font-weight: 400;

}



.header__icons{
display: flex;
margin-right: 33px;
margin-top: 20px;
 
li{
  
  padding-left: 33px;
  
}
  li+li{
  padding-left: 33px;
  }
 

}
.lock{
  display: flex;
}
.header__avatar{
 display: flex;
}
.user{
  border-radius: 50%;
  background-color: rgb(124, 121, 121);
  width: 50px;
  height: 50px;
  display: flex;
}
.header__avatar-title{
  margin-left: 22px;
  span{
    display: block;
    padding-bottom: 10px;
  }
}








.header__menu{
  background-color:#fff;
 
  
}
.header__menu__inner{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.menu{
  height: 80px;
  display: flex;
  align-items: center;
  
}
.menu__list{
  
  li{
    display: inline-block;
    & +li{
      margin-left: 35px;
    }
  }
  a{
    color:#333333;
    font-size: 14px;
  }
}
.search{
  position: relative;
  form{
    
    
  input{
    
    display: block;
    margin-top: 17px;
    border: 1px solid #d9dfe5;
    width: 358px;
    height: 44px;
    border-radius: 50px;
    padding: 15px 25px;
    
    
  }
  }
}
  
  
  .icon{
    position: absolute;
    background-color: rgb(6, 116, 236);
    width: 70px;
    height: 46px;
    border-radius: 30px;
    top: 16px;
    right: 0;
    

    
    img{
      padding-top: 12px;
          }
        }



  .digital{
    background-color: #2145ca;
  }
  .digital__products{
 
    text-align: center;

  }

  .digital__title{
    color: #f3f3f8;
    padding-top: 104px;
    font-size: 60px;
    line-height: 70px;
  
  }
  .digital__title-product{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #f3f3f8;
    span{
      display: block;
      font-size: 20px;
    }
  }
  .digital__products-btn{
    position: relative;
    padding-bottom: 234px;
    a{
      padding: 20px 32px 20px 32px;
      border: solid 1px #fff;
      border-radius: 40px;
      width: 192px;
      color: #fff;
      margin-left: 28px;
      
    
    }
    }

    .swarch-now{
      position: absolute;
      background-color: #fff;
      padding: 40px;
      display: flex;
      justify-content: center;
      text-align: center;
     left: 300px;
     bottom: 180px;
  
     

   
    
      
      form{
        input{
          width: 610px;
          height: 55px;
          border: 1px solid #d9dfe5;
          border-right: none;
        }
      }
    }
    .swarch-now__categories{
      padding-top: 14px;
      width: 195px;
      height: 55px;
      background-color: #fff;
      border: 1px solid #d9dfe5;
      position: relative;
      img{
        position: absolute;
        top: 0;
        right: 20px;
        top: 24px;
      }
    }
    .search-now-btn{
      margin-left: 20px;
      background-color: #0674ec;
      border-radius: 10px;
     
      padding: 18px 67px 18px 67px;
      a{
        font-size: 16px;
        
      }
    
    }
    .function__inner{
      margin-top: 120px;
      display: flex;
      justify-content: center;
     
     
    }
    .content{
      max-width: 360px;
      text-align: center;
      
    }
    .content__title{
      padding-top: 40px;
    }
    .content__text{
      padding: 28px 34px 50px;
    }
    
   .function__inner-fully{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
   }


   .weekly-slider__inner{
   
   padding-top: 40px;
     background-color: #edf0f4;
    
   }
   .weekly-slider__inner-product{
     width: 1142px;
     background-color: #fff;
     height: 113px;
     padding: 34px 31px;
     color: #000;
     font-size: 30px;
     margin-bottom: 50px;
   }
   .weekly-slider__item-cart{
     display: flex;
     justify-content: start;}
     .cart__contant{
      padding-left: 50px;
      background-color: #fff;
     }
     .cart__contant-title{
       font-size: 24px;
       color: #000;
       padding-bottom: 20px;
     }
     .cart__active-user{
       display: flex;
       text-align: center;
       padding-bottom: 34px;
      
       
     
       }
     .azz__text{
       padding-left: 10px;
     }
     .circ{
     
      border-radius: 50%;
    background-color: rgb(115, 71, 193);
    width: 30px;
    height: 30px;
     }
     .cart__active{
       display: flex;
     }
     .cart__active-template{
       position: relative;
       padding-left: 30px;
      
      &:before{
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(../images/icons/forma.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 10px;
        top: 5px;
       }
     }
     
   .cart__contant-text{
     padding-right: 60px;
     margin-bottom: 40px;
   }
   .cart__contant-plagin{
      
   a{
    
     font-size: 15px;
     display: block;
     background-color: rgb(241, 243, 246);
       border-radius: 20px;
        padding: 6px 18px;

   }
     li{
       display: inline-block;
     
       padding-left: 7px;
       padding-top: 45px;
       
     
       
      
      
     }
   }




  
     